body {
  margin: 0px auto;
}

.x-panel-mc {
  font-size: 12px;
}

a {
  color: #666;
}

.x-grid3-row {
	border-width: 0px;
}
.x-grid3-col {
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.x-grid3-row.x-grid3-row-last .x-grid3-col {
    /*border-bottom-width: 0px;*/
}

.x-grid3-hd-row td {
	padding-right: 1px;
}

.ext-ie .x-grid3-hd-row td {
	padding-right: 0px;
}
.x-grid3-hd-row td.x-grid3-cell-first {
	border-left-width: 0px;
}

/*********** LOGIN ************/

.login-container {
  width: 350px;
  margin: 100px auto;
}

.login-actions-container {
  margin-top: 10px;
}

.login-actions-container .login-button {
  float: right;
}

/*********** SIGNUP ************/

.signup-container {
  width: 350px;
  margin: 100px auto;
}

/*********** MAIN **********/

#header {
  padding: 6px 10px 0px;
  padding-left: 10px;
  background: url('../images/hd-bg.gif') repeat-x;
}

#header h1 {
  color: white;
  font-family: arial;
  font-size: 20px;
  float: left;
}

#header .logout {
  font-family: arial;
  font-size: 14px;
  color: white;
  float: right;
}

.rehearsals-icon {
  background-image: url('../images/calendar.png') !important;
}

.adminships-icon {
  background-image: url('../images/clock.png') !important;
}

.purchases-icon {
  background-image: url('../images/cart.png') !important;
}

.add-icon {
  background-image: url('../images/add.png') !important;
}
