body {
  margin: 0px auto;
}

.x-panel-mc {
  font-size: 12px;
}

a {
  color: #666;
}

/*********** LOGIN ************/

.login-container {
  width: 350px;
  margin: 100px auto;
}

.login-actions-container {
  margin-top: 10px;
}

.login-actions-container .login-button {
  float: right;
}

/*********** SIGNUP ************/

.signup-container {
  width: 350px;
  margin: 100px auto;
}

/*********** MAIN **********/

#header {
  padding: 6px 10px 0px;
  padding-left: 10px;
  background: url('../images/hd-bg.gif') repeat-x;
}

#header h1 {
  color: white;
  font-family: arial;
  font-size: 20px;
  float: left;
}

#header .logout {
  color: white;
  float: right;
}