body {
  margin: 10px auto;
  width: 1000px;
}

.x-panel-mc {
  font-size: 12px;
}

a {
  color: #666;
}

/*********** LOGIN ************/

.login-container {
  width: 350px;
  margin: 0px auto;
}

.login-actions-container {
  margin-top: 10px;
}

.login-actions-container .login-button {
  float: right;
}

/*********** SIGNUP ************/

.signup-container {
  width: 350px;
  margin: 0px auto;
}
